.AddProduct {
    width: 80%;
    height:200px;
    background-color: rgb(237, 214, 232);
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.Form {
    justify-content: space-between;
    align-items: center;
}