/* for mobile devices */
.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NaigationItem a {
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NaigationItem a:hover,
.NaigationItem a:active,
.NaigationItem a.active {
    color: #40A4C8;
}

/* for desktop devices */
@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        /* works together -> display: flex and align-items: center */
        display: flex;
        align-items: center;
        height: 100%;
        width: auto;
    }
    
    .NaigationItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NaigationItem a:hover,
    .NaigationItem a:active,
    .NaigationItem a.active {
        background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }
}